
*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

#menu {
    text-align: center;
    position: fixed;
    top: 50%;
    right: 0%;
    margin-top: -2.5em;
    width: 10em;
    border-style: double ,;
    background-color: rgba(16,16,16.5) ;
     
}


body{
    font-family: arial;
}


ul{
    list-style: none;
}

a{
    display: block;
    padding: 20px 5px;
    color: white;
}

a:hover{
    background-color: rgb(176,224,230);
    color: black;
}

img{
    width: 10em;
    position:fixed;
    top: 43%;
    right: 0%;
}


input[type="checkbox"]{
    display: none;
}

label{
    background-color:none;
    position: absolute;
    
}

ul{
    
}